@import url('https://dsans.davidstudios.uk/css2.css');
body {
      background-image: url("wp2.jpg");
      background-size: cover;
      background-position: center;
      background-attachment: fixed;
      background-repeat: no-repeat;
      color: white;
      font-family: "DSans Regular", system-ui, -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
    }
    * {
      box-sizing: border-box;
    }
    html,
    body {
      height: 100%;
      margin: 0;
      display: flex;
    }
    .hidden {
      display: none;
    }
    .wb-body {
      background-color: #202020;
    } /* replace hex 202020 with any other color if you want */
    .wb-full {
      display: none;ackground-color: #202020;
  background-filter: blur(20px);
    }
    .winbox.eclipsemono {
      background: #2f2f2f;
    }
    .winbox.eclipselock {
      background: #000000;
    }
    .winbox.eclipsemono .wb-body {
      color: #fff;
      background: #202020;
      border-radius: "5px";
    }
    .winbox.eclipsemono .wb-title {
      color: #fff;
    }
    .winbox.eclipsemono .wb-control {
      filter: invert(0);
    }
.bar {
  position: fixed;
  height: 35px;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  opacity: 0.9;
  background-color: #202020;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.bar p {
  margin: 0;
  padding: 0;
  color: #ffffff;
}

.bar span {
  margin-right: 10px;
}

.context-menu {
  position: absolute;
  text-align: center;
  background: #ffffff;
  border: 1px solid black;
}
  
.context-menu ul {
  padding: 0px;
  margin: 0px;
  min-width: 150px;
  list-style: none;
}
  
.context-menu ul li {
  padding-bottom: 7px;
  padding-top: 7px;
  border: 1px solid black;
}
  
.context-menu ul li a {
  text-decoration: none;
  color: black;
}
  
.context-menu ul li:hover {
  background: darkgray;
}

h1 {
font-family: "DSans Bold", system-ui, BlinkMacSystemFont, Roboto, "Segoe UI",  sans-serif;
}
