body {
      background-image: url("wp.jpg");
      background-size: cover;
      background-position: center;
      background-attachment: fixed;
      background-repeat: no-repeat;
      color: white;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
    }
    * {
      box-sizing: border-box;
    }
    html,
    body {
      height: 100%;
      margin: 0;
      display: flex;
    }
    .hidden {
      display: none;
    }
    .wb-body {
      background-color: #202020;
    } /* replace hex 202020 with any other color if you want */
    .wb-full {
      display: none;
    }
    .wb-min {
      display: none;
    }
    .wb-max {
      display: none;
    }
    .wb-title {
      display: none;
    }
    .winbox.eclipsemono {
      background: #202020;
    }
    .winbox.eclipsemono .wb-body {
      color: #fff;
      background: #131820;
    }
    .winbox.eclipsemono .wb-title {
      color: #fff;
    }
    .winbox.eclipsemono .wb-control {
      filter: invert(0);
    }
.bar {
  position: fixed;
  height: 35px;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: #202020;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.bar p {
  margin: 0;
  padding: 0;
  color: #ffffff;
}

.bar span {
  margin-right: 10px;
}