@import URL('dsans.davidstudios.uk/css2.css')

body {
      background-image: url("dirt.png");
      background-size: cover;
      background-position: center;
      background-attachment: fixed;
      background-repeat: repeat;
      font-family: "DSans Regular", system-ui, "Segoe UI",
        Roboto, Ubuntu, "Helvetica Neue",
        sans-serif;
      color: white;
}
a { 
  color: white;
}